@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    font-size: 1em;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: gray;
    color: white;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

header > h1 {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.425);
    margin-bottom: 10px;
    flex: 0 0 150px;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

main {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.425);
}

a {
    text-decoration: none;
    color: white;
    background-color: black;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;

    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.493);
}

a:hover {
    background-color: white;
    color: black;

    transition: .5s;
}